<section class="banner">

  <img src="{{ site.author.image | prepend: site.baseurl  }}" alt="author thumb" class="dot animated hinge fadeInDown">
  <h2 class="animated hinge fadeInDown" itemscope itemtype="http://schema.org/Person">{{ site.description }}</h2>

<!--   <h2 class="animated hinge fadeInDown" itemscope itemtype="http://schema.org/Person">Hello, my name is <strong itemprop="name">{{ site.name }}</strong>I am <em itemprop="jobTitle">Software Developer</em> and <em itemprop="jobTitle">TD</em> in a post production studio!</h2> -->

</section>